{% extends 'instructor_temp/instructorbase.html' %}

{% block content %}


<div class="card">
<table class="table">
   <thead class="table table-striped">

   <tr>
       <th scope="col">ID</th>
<!--       <th scope="col">USER</th>-->
       <th scope="col">NAME</th>
       <th scope="col">AGE</th>
       <th scope="col">SEX</th>
       <th scope="col">HEIGHT</th>
       <th scope="col">WEIGHT</th>



   </tr>
   </thead>
   <tbody>
   {% for i in data %}



     <tr>
         <td>{{forloop.counter}}</td>
<!--         <td>{{i.user}}</td>-->
         <td>{{i.user}}</td>
         <td>{{i.age}}</td>
         <td>{{i.sex}}</td>
         <td>{{i.height}}</td>
         <td>{{i.weight}}</td>


{% csrf_token %}
<td>
      <form action="{% url 'healthdelt' i.id %}" method="POST">
                 {% csrf_token %}


                    <button type="submit" class="btn btn-outline-dark">Delete</button>
</td>




     </tr>


{% endfor %}
   </tbody>

   </table>
</div>

 {% endblock %}