{% extends 'customer_temp/customerbase.html' %}

{% load crispy_forms_tags %}
{% block content %}



<div class="card">
<table class="table">
   <thead class="table table-striped">

   <tr>

<!--       <th scope="col">CUSTOMER</th>-->
       <th scope="col">BREAKFAST</th>
       <th scope="col">LUNCH</th>
       <th scope="col">DINNER</th>

<!--       <th scope="col">DELETE</th>-->
<!--       <th scope="col">UPDATE</th>-->

<!--              <th scope="col">update</th>-->
<!--              <th scope="col">delete</th>-->
   </tr>
   </thead>
   <tbody>
   {% for i in data %}


   {% if  i.user.user2 == request.user %}

     <tr>
<!--         <td>{{forloop.counter}}</td>-->
<!--         <td>{{i.user}}</td>-->
         <td>{{i.breakfast}}</td>
         <td>{{i.lunch}}</td>
         <td>{{i.dinner}}</td>


<!--                {% csrf_token %}-->

<!--         <button type="submit" class="btn btn-outline-dark">Delete</button>-->

<!--            </form>-->
<!--         </td>-->
<!--            <td>-->

<!--         </td>-->
         </tr>

{% endif %}
     {% endfor %}



   </tbody>
</table>
</div>










{% endblock %}