{% extends 'customer_temp/customerbase.html' %}
{% load crispy_forms_tags %}
{% block content %}




<div class="card">
<table class="table">
   <thead class="table table-striped">

   <tr>
       <th scope="col">ID</th>
<!--       <th scope="col">USER</th>-->
       <th scope="col">DATE</th>
       <th scope="col">DOUBTS</th>
       <th scope="col">REPLY</th>



   </tr>
   </thead>
   <tbody>
   {% for i in data %}

     <tr>
         <td>{{forloop.counter}}</td>
<!--         <td>{{i.user}}</td>-->
         <td>{{i.date}}</td>
         <td>{{i.doubts}}</td>
         <td>{{i.reply}}</td>


{% csrf_token %}





     </tr>


{% endfor %}
   </tbody>

   </table>
</div>

 {% endblock %}