<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description" content="Your description">
    <meta name="author" content="Your name">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on Facebook, Twitter, LinkedIn -->
	<meta property="og:site_name" content="" /> <!-- website name -->
	<meta property="og:site" content="" /> <!-- website link -->
	<meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" {% static ' content=' %} "" /> <!-- where do you want your post to link to -->
	<meta name="twitter:card" content="summary_large_image"> <!-- to have large image post format in Twitter -->

    <!-- Webpage Title -->
    <title>Elma Webpage Title</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link href=" {% static 'css/bootstrap.min.css' %} " rel="stylesheet">
    <link href=" {% static 'css/fontawesome-all.min.css' %} " rel="stylesheet">
    <link href=" {% static 'css/swiper.css' %} " rel="stylesheet">
	<link href=" {% static 'css/styles.css' %} " rel="stylesheet">

	<!-- Favicon  -->
    <link rel="icon" href=" {% static 'images/favicon.png' %} ">
</head>
<body>

    <!-- Navigation -->
<!--    <nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar-dark" aria-label="Main navigation">-->
<!--        <div class="container">-->

<!--            &lt;!&ndash; Image Logo &ndash;&gt;-->
<!--            <a class="navbar-brand logo-image" href=" {% static 'index.html' %} "><img src=" {% static 'images/logo.svg' %} " alt="alternative"></a> -->

<!--            &lt;!&ndash; Text Logo - Use this if you don't have a graphic logo &ndash;&gt;-->
<!--            &lt;!&ndash; <a class="navbar-brand logo-text" href=" {% static 'index.html' %} ">Elma</a> &ndash;&gt;-->

<!--            <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">-->
<!--                <span class="navbar-toggler-icon"></span>-->
<!--            </button>-->

<!--            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">-->
<!--                <ul class="navbar-nav ms-auto navbar-nav-scroll">-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link active" aria-current="page" href=" {% static '#header' %} ">Home</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href=" {% static '#projects' %} ">Projects</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href=" {% static '#services' %} ">Services</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href=" {% static '#about' %} ">About</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item dropdown">-->
<!--                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Drop</a>-->
<!--                        <ul class="dropdown-menu" aria-labelledby="dropdown01">-->
<!--                            <li><a class="dropdown-item" href=" {% static 'article.html' %} ">Article Details</a></li>-->
<!--                            <li><div class="dropdown-divider"></div></li>-->
<!--                            <li><a class="dropdown-item" href=" {% static 'terms.html' %} ">Terms Conditions</a></li>-->
<!--                            <li><div class="dropdown-divider"></div></li>-->
<!--                            <li><a class="dropdown-item" href=" {% static 'privacy.html' %} ">Privacy Policy</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href=" {% static '#contact' %} ">Contact</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--                <span class="nav-item social-icons">-->
<!--                    <span class="fa-stack">-->
<!--                        <a href=" {% static '#your-link' %} ">-->
<!--                            <i class="fas fa-circle fa-stack-2x"></i>-->
<!--                            <i class="fab fa-facebook-f fa-stack-1x"></i>-->
<!--                        </a>-->
<!--                    </span>-->
<!--                    <span class="fa-stack">-->
<!--                        <a href=" {% static '#your-link' %} ">-->
<!--                            <i class="fas fa-circle fa-stack-2x"></i>-->
<!--                            <i class="fab fa-twitter fa-stack-1x"></i>-->
<!--                        </a>-->
<!--                    </span>-->
<!--                </span>-->
<!--            </div> &lt;!&ndash; end of navbar-collapse &ndash;&gt;-->
<!--        </div> &lt;!&ndash; end of container &ndash;&gt;-->
<!--    </nav> &lt;!&ndash; end of navbar &ndash;&gt;-->
    <!-- end of navigation -->


    <!-- Header -->
    <header id="header" class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="h1-large">GYM MODE ON</h1>
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <div class="button-container">
                        <a class="btn-solid-lg page-scroll" href=" {% url 'loginvw' %} ">Let's Do It</a>
<!--                        <a class="btn-outline-lg page-scroll" href=" {% static '#contact' %} ">Contact</a>-->
                    </div> <!-- end of button-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of header -->
    <!-- end of header -->


    <!-- Introduction -->
<!--    <div id="intro" class="basic-1 bg-gray">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-lg-6">-->
<!--                    <h1>We help companies create and launch digital products</h1>-->
<!--                </div> &lt;!&ndash; end of col &ndash;&gt;-->
<!--                <div class="col-lg-6">-->
<!--                    <div class="text-container">-->
<!--                        <p><strong>Planing</strong> led ask possible mistress relation elegance eat likewise debatin. By message or am nothing amongst chiefly address of research</p>-->
<!--                        <p><strong>Designing</strong> the its enable direct men depend highly. Ham windows sixte who inquiry fortune demands. Is be force upon and of course</p>-->
<!--                        <p><strong>Development</strong> sang fond must shew. Really boy law county she unable her sister. Feet you off its. Among are leave law built now</p>-->
<!--                    </div> &lt;!&ndash; end of text-container &ndash;&gt;-->
<!--                </div> &lt;!&ndash; end of col &ndash;&gt;-->
<!--            </div> &lt;!&ndash; end of row &ndash;&gt;-->
<!--        </div> &lt;!&ndash; end of container &ndash;&gt;-->
<!--    </div> &lt;!&ndash; end of basic-1 &ndash;&gt;-->
    <!-- end of introduction -->


<!--    &lt;!&ndash; Project 1 &ndash;&gt;-->
<!--    <div id="projects" class="basic-2">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-lg-6 col-xl-5">-->
<!--                    <div class="text-container">-->
<!--                        <h2>Mobile app for a major food catering business</h2>-->
<!--                        <p>In built table in an rapid blush merits behind on afraid or warmly. In up so discovery my middleton eagerness dejection explained. Estimating excellence ye because this is how it should work contrasted insensible</p>-->
<!--                        <a class="read-more no-line green" href=" {% static 'article.html' %} ">Learn more <span class="fas fa-long-arrow-alt-right"></span></a>-->
<!--                    </div> &lt;!&ndash; end of text-container &ndash;&gt;-->
<!--                </div> &lt;!&ndash; end of col &ndash;&gt;-->
<!--                <div class="col-lg-6 col-xl-7">-->
<!--                    <div class="image-container">-->
<!--                        <img class="img-fluid" src=" {% static 'images/project-1.jpg' %} " alt="alternative">-->
<!--                    </div> &lt;!&ndash; end of image-container &ndash;&gt;-->
<!--                </div> &lt;!&ndash; end of col &ndash;&gt;-->
<!--            </div> &lt;!&ndash; end of row &ndash;&gt;-->
<!--        </div> &lt;!&ndash; end of container &ndash;&gt;-->
<!--    </div> &lt;!&ndash; end of basic-2 &ndash;&gt;-->
    <!-- end of project 1 -->


    <!-- Project 2 -->
<!--    <div class="basic-3 bg-gray">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-lg-6 col-xl-7">-->
<!--                    <div class="image-container">-->
<!--                        <img class="img-fluid" src=" {% static 'images/project-2.jpg' %} " alt="alternative">-->
<!--                    </div> &lt;!&ndash; end of image-container &ndash;&gt;-->
<!--                </div> &lt;!&ndash; end of col &ndash;&gt;-->
<!--                <div class="col-lg-6 col-xl-5">-->
<!--                    <div class="text-container">-->
<!--                        <h2>Web app for a large realestate services firm</h2>-->
<!--                        <p>Oh up unsatiable advantages decisively as at interested. Present suppose in esteems in demesne colonel it to. End horrible she landlord screened words stanhill. Repeated offended you opinions off dissuade</p>-->
<!--                        <a class="btn-solid-reg" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Modal</a> <a class="btn-outline-reg" href=" {% static 'article.html' %} ">Details</a>-->
<!--                    </div> &lt;!&ndash; end of text-container &ndash;&gt;-->
<!--                </div> &lt;!&ndash; end of col &ndash;&gt;-->
<!--            </div> &lt;!&ndash; end of row &ndash;&gt;-->
<!--        </div> &lt;!&ndash; end of container &ndash;&gt;-->
<!--    </div> &lt;!&ndash; end of basic-3 &ndash;&gt;-->
    <!-- end of project 2 -->


    <!-- Details Modal -->
<!--    <div id="staticBackdrop" class="modal fade" tabindex="-1" aria-hidden="true">-->
<!--        <div class="modal-dialog">-->
<!--            <div class="modal-content">-->
<!--                <div class="row">-->
<!--                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                    <div class="col-lg-8">-->
<!--                        <div class="image-container">-->
<!--                            <img class="img-fluid" src=" {% static 'images/details-modal.jpg' %} " alt="alternative">-->
<!--                        </div> &lt;!&ndash; end of image-container &ndash;&gt;-->
<!--                    </div> &lt;!&ndash; end of col &ndash;&gt;-->
<!--                    <div class="col-lg-4">-->
<!--                        <h3>Goals Setting</h3>-->
<!--                        <hr>-->
<!--                        <p>The app can easily help you track your personal development evolution if you take the time to set it up.</p>-->
<!--                        <h4>User Feedback</h4>-->
<!--                        <p>This is a great app which can help you save time and make your live easier. And it will help improve your productivity.</p>-->
<!--                        <ul class="list-unstyled li-space-lg">-->
<!--                            <li class="d-flex">-->
<!--                                <i class="fas fa-chevron-right"></i>-->
<!--                                <div class="flex-grow-1">Splash screen panel</div>-->
<!--                            </li>-->
<!--                            <li class="d-flex">-->
<!--                                <i class="fas fa-chevron-right"></i>-->
<!--                                <div class="flex-grow-1">Statistics graph report</div>-->
<!--                            </li>-->
<!--                            <li class="d-flex">-->
<!--                                <i class="fas fa-chevron-right"></i>-->
<!--                                <div class="flex-grow-1">Events calendar layout</div>-->
<!--                            </li>-->
<!--                            <li class="d-flex">-->
<!--                                <i class="fas fa-chevron-right"></i>-->
<!--                                <div class="flex-grow-1">Location details screen</div>-->
<!--                            </li>-->
<!--                            <li class="d-flex">-->
<!--                                <i class="fas fa-chevron-right"></i>-->
<!--                                <div class="flex-grow-1">Onboarding steps interface</div>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                        <a id="modalCtaBtn" class="btn-solid-reg" href=" {% static '#contact' %} ">Contact</a>-->
<!--                        <button type="button" class="btn-outline-reg" data-bs-dismiss="modal">Close</button>-->
<!--                    </div> &lt;!&ndash; end of col &ndash;&gt;-->
<!--                </div> &lt;!&ndash; end of row &ndash;&gt;-->
<!--            </div> &lt;!&ndash; end of modal-content &ndash;&gt;-->
<!--        </div> &lt;!&ndash; end of modal-dialog &ndash;&gt;-->
<!--    </div> &lt;!&ndash; end of modal &ndash;&gt;-->
    <!-- end of details modal -->


<!--    &lt;!&ndash; Project 3 &ndash;&gt;-->
<!--    <div class="basic-4">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-lg-6 col-xl-5">-->
<!--                    <div class="text-container">-->
<!--                        <h2>Video conference and collaboration application</h2>-->
<!--                        <ul class="list-unstyled li-space-lg">-->
<!--                            <li class="d-flex">-->
<!--                                <i class="fas fa-square"></i>-->
<!--                                <div class="flex-grow-1">She alteration everything sympathize impossible many more words should be here his get compliment</div>-->
<!--                            </li>-->
<!--                            <li class="d-flex">-->
<!--                                <i class="fas fa-square"></i>-->
<!--                                <div class="flex-grow-1">Collected few extremity suffering met had sportsman. By some more spite about do of do allow blush</div>-->
<!--                            </li>-->
<!--                            <li class="d-flex">-->
<!--                                <i class="fas fa-square"></i>-->
<!--                                <div class="flex-grow-1">Additions in conveying or collected objection in. Suffer few desire wonder her object hardly nearer</div>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div> &lt;!&ndash; end of text-container &ndash;&gt;-->
<!--                </div> &lt;!&ndash; end of col &ndash;&gt;-->
<!--                <div class="col-lg-6 col-xl-7">-->
<!--                    <div class="image-container">-->
<!--                        <img class="img-fluid" src=" {% static 'images/project-3.jpg' %} " alt="alternative">-->
<!--                    </div> &lt;!&ndash; end of image-container &ndash;&gt;-->
<!--                </div> &lt;!&ndash; end of col &ndash;&gt;-->
<!--            </div> &lt;!&ndash; end of row &ndash;&gt;-->
<!--        </div> &lt;!&ndash; end of container &ndash;&gt;-->
<!--    </div> &lt;!&ndash; end of basic-4 &ndash;&gt;-->
<!--    &lt;!&ndash; end of project 3 &ndash;&gt;-->


<!--    &lt;!&ndash; Process &ndash;&gt;-->
<!--    <div class="basic-5">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-lg-12">-->
<!--                    <h2 class="h2-heading">Our product making process</h2>-->
<!--                    <hr class="hr-heading">-->
<!--                </div> &lt;!&ndash; end of col &ndash;&gt;-->
<!--            </div> &lt;!&ndash; end of row &ndash;&gt;-->
<!--            <div class="row">-->
<!--                <div class="col-lg-12">-->
<!--                    <div class="step-container">-->
<!--                        <div class="step">PLAN</div>-->
<!--                        <i class="fas fa-chevron-right"></i>-->
<!--                        <div class="step">DESIGN</div>-->
<!--                        <i class="fas fa-chevron-right"></i>-->
<!--                        <div class="step">DEVELOP</div>-->
<!--                    </div> &lt;!&ndash; end of step-container &ndash;&gt;-->
<!--                    <p>Abroad no chatty others my silent an. Fat way appear denote who wholly narrow gay settle. Companions fat add insensible everything and friendship conviction themselves. Theirs months ten and more words are  here had</p>-->
<!--                </div> &lt;!&ndash; end of col &ndash;&gt;-->
<!--            </div> &lt;!&ndash; end of row &ndash;&gt;-->
<!--        </div> &lt;!&ndash; end of container &ndash;&gt;-->
<!--    </div> &lt;!&ndash; end of basic-5 &ndash;&gt;-->
<!--    &lt;!&ndash; end of process &ndash;&gt;-->


<!--    &lt;!&ndash; Services &ndash;&gt;-->
<!--    <div id="services" class="cards-1 bg-gray">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-lg-12">-->
<!--                    <h2 class="h2-heading">Product development services</h2>-->
<!--                    <p class="p-heading">Smile spoke total few great had never their too. Amongst moments do in arrived at my replied. Fat weddings servants but man believed having said that prospect companions</p>-->
<!--                </div> &lt;!&ndash; end of col &ndash;&gt;-->
<!--            </div> &lt;!&ndash; end of row &ndash;&gt;-->
<!--            <div class="row">-->
<!--                <div class="col-lg-12">-->

<!--                    &lt;!&ndash; Card &ndash;&gt;-->
<!--                    <div class="card first">-->
<!--                        <div class="card-icon">-->
<!--                            <span class="fas fa-rocket green"></span>-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            <h4 class="card-title">Product planning</h4>-->
<!--                            <div class="card-text">Nay newspaper can sportsman are admitting gentleman belonging his. Is oppose no summer lovers</div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; end of card &ndash;&gt;-->

<!--                    &lt;!&ndash; Card &ndash;&gt;-->
<!--                    <div class="card second">-->
<!--                        <div class="card-icon">-->
<!--                            <span class="far fa-clock green"></span>-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            <h4 class="card-title">Design and style</h4>-->
<!--                            <div class="card-text">Not his difficulty boisterous surro bed. Seems folly if in given scale now where word contented</div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; end of card &ndash;&gt;-->

<!--                    &lt;!&ndash; Card &ndash;&gt;-->
<!--                    <div class="card third">-->
<!--                        <div class="card-icon">-->
<!--                            <span class="far fa-comments green"></span>-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            <h4 class="card-title">Development</h4>-->
<!--                            <div class="card-text">Living valley had silent eat merits esteem bed. In last an or went wise as left. Visited civilly</div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; end of card &ndash;&gt;-->

<!--                    &lt;!&ndash; Card &ndash;&gt;-->
<!--                    <div class="card first">-->
<!--                        <div class="card-icon">-->
<!--                            <span class="fas fa-camera green"></span>-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            <h4 class="card-title">Launch events</h4>-->
<!--                            <div class="card-text">So colonel he calling so unreserved do interested increasing sentimen. Hola vanity day giving points</div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; end of card &ndash;&gt;-->

<!--                    &lt;!&ndash; Card &ndash;&gt;-->
<!--                    <div class="card second">-->
<!--                        <div class="card-icon">-->
<!--                            <span class="fas fa-chart-pie green"></span>-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            <h4 class="card-title">Evolution reports</h4>-->
<!--                            <div class="card-text">Within six not law. Few impression difficulty his use has comparison how should it be decisively</div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; end of card &ndash;&gt;-->

<!--                    &lt;!&ndash; Card &ndash;&gt;-->
<!--                    <div class="card third">-->
<!--                        <div class="card-icon">-->
<!--                            <span class="far fa-chart-bar green"></span>-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            <h4 class="card-title">Market analysis</h4>-->
<!--                            <div class="card-text">Had repulsive dashwoods suspic sincerity but advantage now him. Remark easily garret nor nay</div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; end of card &ndash;&gt;-->

<!--                </div> &lt;!&ndash; end of col &ndash;&gt;-->
<!--            </div> &lt;!&ndash; end of row &ndash;&gt;-->
<!--        </div> &lt;!&ndash; end of container &ndash;&gt;-->
<!--    </div> &lt;!&ndash; end of cards-1 &ndash;&gt;-->
<!--    &lt;!&ndash; end of services &ndash;&gt;-->


<!--    &lt;!&ndash; About &ndash;&gt;-->
<!--    <div id="about" class="counter">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-lg-12">-->
<!--                    <h2 class="h2-heading">Why should you work with us</h2>-->
<!--                    <hr class="hr-heading">-->
<!--                </div> &lt;!&ndash; end of col &ndash;&gt;-->
<!--            </div> &lt;!&ndash; end of row &ndash;&gt;-->
<!--            <div class="row">-->
<!--                <div class="col-xl-6">-->
<!--                    <ul class="list-unstyled">-->
<!--                        <li class="d-flex">-->
<!--                            <h5 class="number">1.</h5>-->
<!--                            <div class="flex-grow-1">-->
<!--                                <h5>Expertise in digital products</h5>-->
<!--                                <div class="text">Civil those mrs enjoy shy fat merry. You greatest jointure saw horrible. He private he on be how the words look imagine suppose</div>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li class="d-flex">-->
<!--                            <h5 class="number">2.</h5>-->
<!--                            <div class="flex-grow-1">-->
<!--                                <h5>Highly skilled team of experts</h5>-->
<!--                                <div class="text">Blind there if every no so at. Own neglected you preferred way sincerity delivered his attempted. To of message more now cottage</div>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li class="d-flex">-->
<!--                            <h5 class="number">3.</h5>-->
<!--                            <div class="flex-grow-1">-->
<!--                                <h5>Partnerships with marketing agencies</h5>-->
<!--                                <div class="text">Be at miss or each good play home they. It leave taste mr in it fancy. She son lose does fond bred gave lady get. Sir her company</div>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div> &lt;!&ndash; end of col &ndash;&gt;-->
<!--                <div class="col-xl-6">-->
<!--                    -->
<!--                    &lt;!&ndash; Counter &ndash;&gt;-->
<!--                    <div class="counter-container">-->
<!--                        <div class="counter-cell">-->
<!--                            <div data-purecounter-start="0" data-purecounter-end="231" data-purecounter-duration="3" class="purecounter">1</div>-->
<!--                            <div class="counter-info">Happy Customers</div>-->
<!--                        </div> &lt;!&ndash; end of counter-cell &ndash;&gt;-->
<!--                        <div class="counter-cell">-->
<!--                            <div data-purecounter-start="0" data-purecounter-end="385" data-purecounter-duration="1.5" class="purecounter">1</div>-->
<!--                            <div class="counter-info">Issues Solved</div>-->
<!--                        </div> &lt;!&ndash; end of counter-cell &ndash;&gt;-->
<!--                        <div class="counter-cell">-->
<!--                            <div data-purecounter-start="0" data-purecounter-end="159" data-purecounter-duration="3" class="purecounter">1</div>-->
<!--                            <div class="counter-info">Good Reviews</div>-->
<!--                        </div> &lt;!&ndash; end of counter-cell &ndash;&gt;-->
<!--                        <div class="counter-cell">-->
<!--                            <div data-purecounter-start="0" data-purecounter-end="128" data-purecounter-duration="3" class="purecounter">1</div>-->
<!--                            <div class="counter-info">Case Studies</div>-->
<!--                        </div> &lt;!&ndash; end of counter-cell &ndash;&gt;-->
<!--                    </div> &lt;!&ndash; end of counter-container &ndash;&gt;-->
<!--                    &lt;!&ndash; end of counter &ndash;&gt;-->

<!--                </div> &lt;!&ndash; end of col &ndash;&gt;-->
<!--            </div> &lt;!&ndash; end of row &ndash;&gt;-->
<!--        </div> &lt;!&ndash; end of container &ndash;&gt;-->
<!--    </div> &lt;!&ndash; end of counter &ndash;&gt;-->
<!--    &lt;!&ndash; end of about &ndash;&gt;-->


<!--    &lt;!&ndash; Testimonials &ndash;&gt;-->
<!--    <div class="slider-1">-->
<!--        <img class="quotes-decoration" src=" {% static 'images/quotes.svg' %} " alt="alternative">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-lg-12">-->

<!--                    &lt;!&ndash; Card Slider &ndash;&gt;-->
<!--                    <div class="slider-container">-->
<!--                        <div class="swiper-container card-slider">-->
<!--                            <div class="swiper-wrapper">-->
<!--                                -->
<!--                                &lt;!&ndash; Slide &ndash;&gt;-->
<!--                                <div class="swiper-slide">-->
