{% extends 'admin_temp/adminbase.html' %}
{% load crispy_forms_tags %}
{% block content %}



<div style="background:white;width:100%;height:500px;;padding:20px;object-fit:contain;">
   <div class="row" style="display:flex;flex-direction:row;gap:30px;object-fit:contain;">
        {% for i in data %}

<!--       <div style="background:white;display:flex;flex-direction:column;gap:30px;"><div class="col-sm-3">-->
        <div class="card"  style="width:300px;height:200px;border-color:white;object-fit:contain;">
        <img src="{{ i.image.url }}"  style="outline:none;object-fit:contain;">
            <div class="card-body" style="background:white;">
<!--                <p class="card-text">{{ forloop.counter}}</p>-->
                <h4 class="card-title">{{ i.name}}</h4>

                <form action="{% url 'custgymservicedelt' i.id %}" method="POST">
                 {% csrf_token %}


                    <button type="submit" class="btn btn-outline-dark">Delete</button>

                     <a href="{% url 'custgymservicedes' i.id %}" class="btn btn-outline-dark">Click Here</a>
                </form>
<!--                <a href ="#"  class="btn btn-dark btn-block" value="Join">Join</a>-->

            </div>
        </div>



        {% endfor %}
</div>
    </div>
{% endblock %}
